.postsBlock {
    padding: 10px;
}

.addPostBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.addPostBlock textarea {
    margin-bottom: 5px;
    height: 100px;
    resize: none;
    border: none;
    outline: none;
    border-radius: 3px;
}

.addPostBlock button {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}