.header {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  grid-area: header;
  background-color: #fff;
}

.header img {
  width: 30px;
}

.loginLink {
  color: black;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.logoutBtn {
  padding: 2px;
}