.nav {
  width: 250px;
  display: flex;
  flex-direction: column;
  grid-area: nav;
  background-color: #F6F7F9;
}

.navList {
  padding: 20px;
  margin: 0 0 20px 0;
  list-style: none;
  background-color: #FFF;
  border-radius: 15px;
}

.item:not(:last-of-type) {
  margin-bottom: 10px;
}

.item a {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}

.item a.active {
  color: #416aba;
}

.item a:hover {
  color: #05f;
}

.item a i {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
}

.item a i svg {
  color: white;
  width: 20px;
}

.bgBlueGradiant {
  background: linear-gradient(to right, #0575e6, #021b79);
}

.bgOrangeGradiant {
  background: linear-gradient(to right, #e44d26, #f16529);
}

.bgGoldGradiant {
  background: linear-gradient(to right, #f2994a, #f2c94c);
}

.bgPinkGradiant {
  background: linear-gradient(to right, #ee0979, #ff6a00);
}

.bgPrimaryGradiant {
  background: linear-gradient(135deg, #05f, #09f);
}