.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form input[type=text] {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #5e5858;
    outline: none;
    border-radius: 3px;
}

.rememberCheckbox,
.rememberText,
.submitBtn {
    cursor: pointer;
}

.rememberText {
    font-size: 20px;
    line-height: 24px;
}

.rememberCheckbox {
    width: 15px;
    height: 15px;
}

.rememberContainer {
    display: flex;
    align-items: center;
}

.error {
    color: red;
}